.shelf {
    float: left;
    padding: 50pt;
    width: 100%;
}

.cover {
    padding: 20pt;
    margin: 20pt;
}

.cat {
    right: 0;
    float: right;
    position: fixed;
}

.main {
    float: left;
}

.login {
    float: right;
}