.shelf {
    float: left;
    padding: 40pt;
    width: 75vw;
}

.cover {
    padding: 20pt;
    margin: 20pt;
}

.sidenav {
    right: 0;
    width: 20vw;
    float: right;
    position: fixed;
}

.main {
    float: left;
}

.login {
    float: right;
}

.search {
    float: left;
    top: 20vh; 
}